<h1>Create Form</h1>

<%if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <li><%= error %></li>
        <% end %>
<% end %>

<br>
<br>

<%= form_for @vendor_sweet do |f| %>
<p>Choose a vendor:</p>
<%= f.label :vendor_id %>
<%= f.collection_select :vendor_id, @vendors, :id , :name %>
<br>
<p>Choose a sweet:</p>
<%= f.label :sweet_id %>
<%= f.collection_select :sweet_id, @sweets, :id , :name %>
<br>
<br>
<%= f.label :price %>
<%= f.number_field :price %>
<br>
<%= f.submit %>

<% end %>


<br>
<%= link_to "Check all the sweets" ,sweets_path %>
/
<%= link_to "Check all the vendors" ,vendors_path %>
