<h1> create a new vendor sweet lol </h1>

<%=form_for @vendorsweet do |f|%>
Who is the vendor <%=f.collection_select :vendor_id, @vendors,:id,:name%>

What sweet they be sellin <%=f.collection_select :sweet_id,@sweets,:id,:name %>

what price they be sellin it for <%=f.number_field :price%>

<%=f.submit%>
<%end%>